<div class="row categories-btn  ctn-sb" (click)="onClick()">
  <div class="flex"><b>Categories</b></div>
  <span class="arrow-down"><b>&#x2304;</b></span>
</div>
<ul class="dropdown" [ngClass]="isOpen?'open':'close'">
  <ng-container *ngFor="let cat of categories">
    <li class="row ctn-sb grey-border category"  (click)="cat.subcategories.length>0 ?toggle():onClick()">
      {{cat.name}}
      <span class="arrow-down" *ngIf="cat.subcategories.length>0">&#x2304;</span>
    </li>
    <ul class="submenu bg-second " *ngIf="cat.subcategories.length>0 && isOpenSubMenu(cat.name)">
      <ng-container *ngFor="let subCat of cat.subcategories">
        <li class="row subcategory">
          {{subCat.name}}
        </li>
      </ng-container>
    </ul>
  </ng-container>
</ul>