$pink: #d19c97
$dark_pink: #c17a74
$grey: #edf1ff

.categories-btn
    background-color: $pink
    color: #000
    padding: 15px
    cursor: pointer

.category
    z-index: 5
    position: relative
    color: #000
    padding: 5px 15px
    cursor: pointer

.category:hover
    color: $pink

.subcategory
    z-index: 10
    color: #000!important
    background-color: inherit
    position: relative
    padding: 0 15px
    margin: 5px 0
    cursor: pointer

.subcategory:hover
    color: #000!important
    background-color: #f8f9fa!important

.categories-btn:hover,
.categories-btn:focus
    background-color: $dark_pink!important

@keyframes .open
    0%
        height: 0

    50%
        height: 50%

    100%
        height: 287.92px

@keyframes .close
    0%
        height: 287.92px

    50%
        height: 50%

    100%
        height: 0

.dropdown
    width: 18%
    position: absolute
    overflow: hidden

.close
    visibility: hidden
    height: 0
    transition: 0.5s height, 0.5s visibility
    .submenu
        display: none

.open
    height: 287.92px
    visibility: visible
    display: block
    transition: 0.5s height, 0.5s visibility

.submenu
    width: 100%
    z-index: 10
    position: absolute
    background-color: $grey!important
