
<div class="container row ctn-fs">
  <div style="width:25%"></div>
  <div class="flex carousel">
    <img src="/assets/images/carousel-1.jpg" alt="">
  </div>
</div>
<div class="container row ctn-sb font-bold icons-text">
  <div class="row grey-border icon-with-text">
    <i class="fa fa-check"></i>
    Quality Product
  </div>
  <div class="row grey-border icon-with-text">
    <i class="fa fa-shipping-fast"></i>
    Free Shipping
  </div>
  <div class="row grey-border icon-with-text">
    <i class="fa fa-exchange-alt"></i>
    14-Day Return
  </div>
  <div class="row grey-border icon-with-text">
    <i class="fa fa-phone-volume"></i>
    24/7 Support
  </div>
</div>
<ng-template #catInfo let-info='info'>
  <div class=" items grey-border col col-lg-4">
    <div>
      <p class="txt-r">{{info.count}} products</p>
    </div>
    <div style="overflow: hidden;"><a href=""><img class="scale-image" src="/assets/images/{{info.imagePath}}"
          alt="{{info.imagePath}}"></a></div>
    <div class="font-bold icon-with-text">{{info.name}}</div>
  </div>
</ng-template>

<div class="container row ">
  <ng-container *ngFor="let info of categoriesInfo">
    <ng-container *ngTemplateOutlet="catInfo; context:{info:info}">
    </ng-container>
  </ng-container>

</div>

<div class="container row ctn-sb">
  <div class="bg-second  row  ctn-sb center" style="width:49%">
    <div class="flex" style="padding-top:5%"><img src="/assets/images/leftGirl.png" alt="" height="150"></div>
    <div class="col txt-r " style="padding-right:5%">
      <div class="pink-small-text font-bold">20% OFF THE ALL ORDER</div>
      <div class="font-bold collection-text">Spring Collection</div>
      <div><input type="button" value="Shop now" class="pink-btn"></div>
    </div>
  </div>
  <div class="bg-second  row ctn-sb center" style="width:49%">
    <div class=" col " style="padding-left:5%">
      <div class="pink-small-text font-bold">20% OFF THE ALL ORDER</div>
      <div class="font-bold collection-text">Winter Collection</div>
      <div><input type="button" value="Shop now" class="pink-btn"></div>
    </div>
    <div class="flex" style="padding-top:5%"><img src="/assets/images/rightGirl.png" alt="" height="150"></div>
  </div>
</div>
<ng-template #items>
  <div class="col grey-border item" *ngFor="let item of itemsInfo">
    <div class="grey-bottom flex" style="overflow: hidden;">
      <img class="scale-image" src="/assets/images/{{item.imagePath}}" alt="{{item.imagePath}}">
    </div>
    <div style="text-align: center;padding: 6% 0">
      <div>{{item.name}}</div>
      <div>${{item.price}} <s class="">${{item.price}}</s></div>
    </div>
    <div class="row  ctn-sb grey-top" style="font-size: 0.6rem; padding: 4%;">
      <div class="row">
        <i class="fas fa-eye"></i>
        <a href="" class="menu-link " style="padding-left: 5%;"> View Detail</a>
      </div>
      <div class="row">
        <i class="fas fa-shopping-cart"></i>
        <a href="" class="menu-link " style="padding-left: 5%;"> Add to Cart</a>
      </div>
    </div>
  </div>
</ng-template>

<div class="font-bold" style="text-align: center; padding-top:6%; font-size: 1.5rem;">
  <div class="line">
    <div class="upper-text no-ws-wrap">Trandy Products</div>
  </div>
</div>
<div class="container row ctn-sb">
  <ng-container *ngTemplateOutlet="items">
  </ng-container>
</div>

<div class="bg-second container col">
  <div class="font-bold" style="text-align: center; padding-top:6%; font-size: 1.5rem;">
    <div class="line">
      <div class="upper-text no-ws-wrap bg-second ">Stay Updated</div>
    </div>
  </div>
  <div class="flex center">Amet lorem at rebum amet dolores. Elitr lorem dolor sed amet diam labore at justo ipsum
    eirmod duo
    labore labore.</div>
  <div class="row">
    <input class="form-contol sub-inputs " type="email" placeholder="Email Go Hear">
    <input class="form-contol sub-inputs subscribe-btn" type="button" value="Subscribe">
  </div>
</div>
<div class="container col">

  <div class="font-bold" style="text-align: center; padding-top:6%; font-size: 1.5rem;">
    <div class="line">
      <div class="upper-text no-ws-wrap ">Just arrived</div>
    </div>
  </div>
  <div class="container row ctn-sb">
    <ng-container *ngTemplateOutlet="items">
    </ng-container>
  </div>
</div>
